#txtCrieSuaConta
{
    margin-top       : 10px;
    color            : #3498db;
    font-size        : 30px;
    font-weight      : bold;
}

#btnFacebook
{
    background-color : 	#3b5998;
    color            :  #ecf0f1;
    opacity          :  0.8;
}

#btnCriarConta
{
    background-color : 	#27ae60;
    color            :  #ecf0f1;
    opacity          :  0.8;
}
